<%- include("header") %>
<div id="toast">
            
</div>
<section class="cart-page" id="cart">
    <h1 class="heading">Giỏ hàng</h1>
    <div class="products-container">
        <div class="product-header">
            <h1 class="product-title">Sản phẩm</h1>
            <h1 class="price">Giá</h1>
            <h1 class="quantity">Số lượng</h1>
            <h1 class="total">Tổng cộng</h1>
        </div>
        <div class="products">
    
        </div>
    </div>
</section>

<script src="javascripts/baseAPI.js"></script>
<script src="javascripts/categoryService.js"></script>
<script src="javascripts/productsService.js"></script>
<script src="javascripts/index.js"></script>
<script src="javascripts/shop.js"></script>
<script src="javascripts/toast.js"></script>
<%- include("footer") %>
