<!-- footer section starts -->
<div class="footer">
    <div class="share">
        <a href="#"><i class="fab fa-youtube">youtube</i></a>
        <a href="#"><i class="fab fa-facebook">facebook</i></a>
        <a href="#"><i class="fab fa-twitter">twitter</i></a>
        <a href="#"><i class="fab fa-instagram">instagram</i></a>
        <a href="#"><i class="fab fa-linkedin">linkedin</i></a>
    </div>
    <h1 class="credit">Create by <a href="#">Huỳnh Quốc Hưng ps14897</a> all rights reserved!</h1>
</div>
<!-- footer section ends -->

</body>
</html>