<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> </title>
    <link rel="icon" sizes="200x200" href="images/webLogo.png">
    <!-- font awesome link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- css file link -->
    <link rel="stylesheet" href="stylesheets/style.css">

    <!-- ionicon link -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</head>
<body>
    <!-- header section starts -->
    <header>

        <a href="/" class="logo"><span>Marvel</span>Fan</a>

        <div id="menu" class="fas fa-bars"></div>
        <nav class="navbar">
            <ul>
                <li><a class="active" href="/">Trang chủ</a></li>
                <li><a href="#gallery">Bộ sưu tập</a></li>
                <li><a href="#about">Giới thiệu</a></li>
                <li><a href="/movies">Phim</a></li>
                <li><a href="/shop">Sản phẩm</a></li>
                <li><a href="/login"  id="isLogTag">Đăng nhập</a></li>
                <li>
                    <a href="/cart" title="Giỏ hàng" class="cart">
                        <i class="fas fa-shopping-cart"></i>
                        <span class="numberCart"></span>
                    </a>
                </li>
            </ul>
        </nav>

    </header>
    <!-- header section ends -->