<%- include("header") %> 

<!-- movies section starts -->
<section class="movies" id="movies">
    <h1 class="heading">Phim <span>Marvel</span></h1>
    <div class="box-container">
        <!-- <div class="box">
            <img src="public/images/m1-min.jpg" alt="">
            <div class="info">
                <h3>marvel avengers 2012</h3>
                <span>action, sci-fi, thriller, comedy</span>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <p>Sau khi Captain America ngăn chặn tên Helmut Zemo, kẻ chủ mưu gây ra cuộc chiến 
                giữa haiphe, đội Avengers chính thức tan rã nhưng Captain America, Góa phụ đen và 
                Falcon vẫn tiếp tục hoạt động trong bóng tối.</p>
                <a href="#" class="btn">Xem phim</a>
            </div>
        </div> -->
    </div>
    <div class="box-center">
        <button class="btn" id="more">Tải thêm</button>
    </div>
</section>
<!-- movies section ends -->

<!-- js file link -->
<script src="javascripts/index.js"></script>
<script src="javascripts/movies.js"></script>
<%- include("footer") %> 
